body {
    margin: 0;
    background-color: rgb(240, 248, 255);
}

.wrapper {
    margin-top: 25px;
    width: 1000px;
}

.lot {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #00000080 0 0 10px 0;
    padding: 20px;
}

.lot img, h2 {
    align-self: center;
}

.lot h2 {
    margin-top: 10px;
    font-weight: bold;
}

p {
    font-size: 18px;
}

.delete_lot {
    align-self: flex-end;
    background-color: rgb(255, 26, 26);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}