@font-face {
    font-family: 'Russia';
    src: url('fonts/russia.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Russia';
    src: url('fonts/russia_bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Vesti';
    src: url('fonts/vestisans-regular.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --main-header-height: 72px;
    --main-footer-height: 195.5px;
    --section-margin-top: 140px;
}

body {
    font-family: 'Russia' !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-my {
    margin-top: var(--section-margin-top);
    margin-bottom: calc(var(--section-margin-top) - var(--main-header-height));
}

.section-py {
    padding-top: var(--section-margin-top);
    padding-bottom: calc(var(--section-margin-top) - var(--main-header-height));
}

.section-min-height {
    min-height: calc(100vh - var(--main-footer-height));
}
